<app-loading-screen></app-loading-screen>
<div id="app">
    <div id="video">
      <video #video id="video" width="640" height="480" autoplay="true" playsinline></video>
      <ul id="titles">
          <li *ngFor="let title of titles">title</li>
      </ul>
    </div>
    <div id="scan-overlay">
      <div class="scan-container">
          <app-scan-spinner [hidden]="true"></app-scan-spinner>
          <button (click)="scan()">Scan</button>
      </div>
    </div>
    <canvas #frame id="frame" width="640" height="480"></canvas>
</div>