<div id="app">
    <video #video id="video" width="640" height="480" autoplay="true" playsinline></video>
</div>

<app-info>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <div class="w3-light-grey w3-round">
        <div class="w3-container w3-round w3-blue" style="width:25%"  id = "bars" >25%</div>
    </div> 

    <div class="w3-light-grey w3-round">
            <div class="w3-container w3-round w3-blue" style="width:25%">25%</div>
    </div> 

    <div class="w3-light-grey w3-round">
            <div class="w3-container w3-round w3-blue" style="width:25%">25%</div>
    </div> 
</app-info>
